<div  >

<mat-toolbar color="primary"> <span>Ekraa Wa Ertaki</span>
  <span class="flex-spacer"></span>
  
      <a mat-button  *ngIf="!isUser" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>  
      <a mat-button *ngIf="isUser" (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Log out</a>
      
      <button (click)='test()'>test</button>
      
       
</mat-toolbar>

<mat-toolbar color="primary">
  
    <span><img src="/assets/images/logo.jpg" height=80 width=80></span>
    <a style="margin-left:50px" mat-button routerLink="/home" routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button *ngIf="isUser &&(profil == 'utilisateur' || profil == 'administrateur' || profil == 'com. adop. Orphelin')" routerLink="/gestionorphelin" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Orphelin</a>
    <a mat-button *ngIf="isUser &&(profil == 'utilisateur' || profil == 'administrateur' || profil == 'com. adop. Orphelin' )" routerLink="/gestionbenevoles" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Bénévole</a>
    <a mat-button *ngIf="isUser && (profil=='utilisateur' || profil == 'administrateur' || profil == 'com. aide sociale')" routerLink="/gestionprojet" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Projet</a>
    <a mat-button *ngIf="isUser && (profil=='utilisateur' || profil == 'administrateur' || profil == 'com. aide sociale')" routerLink="/gestionevenement" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Evenement</a>
    <a mat-button *ngIf="isUser && (profil=='utilisateur' || profil == 'administrateur' || profil == 'com. aide coranique')" routerLink="/gestioneleve" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Eleve</a>
    <a mat-button *ngIf="isUser && (profil=='utilisateur' || profil == 'administrateur' || profil == 'com. aide coranique')" routerLink="/gestioncours" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Cours</a>
    <a mat-button *ngIf="isUser && (profil === 'administrateur')" routerLink="/gestionusers" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Gestion Utilisateur</a>
    <a mat-button routerLink="/contact" routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <a mat-button routerLink="/about"><span class="fa fa-info fa-lg"></span> About</a>
    <span class="flex-spacer"></span>
      
      
  </mat-toolbar>

  

</div>