<h2 class="container">Ajouter projet</h2>
<form #form='ngForm' autocomplete='off' (submit)="onSubmit(form)">
                <input name="idProjet" type="hidden" #idProjet="ngModel" [(ngModel)]="projetService.projet.idProjet" class="form-control" placeholder="PRENOM">
        
                <mat-dialog-content>

                        <mat-form-field class="form-group">
                                <input name="libelleProjet" #libelleProjet="ngModel" matInput [(ngModel)]="projetService.projet.libelleProjet"
                                 class="form-control" placeholder="Libelle Projet" required>
                                <mat-error *ngIf="libelleProjet.errors?.required  && libelleProjet.touched" > ce champ est obligatoire</mat-error>
                            </mat-form-field>
                         
                            <p padding="10px">
                                       
                                <mat-form-field class="form-group" >
                                               <div> date debut projet </div>
                                          <input name="dateDebutProjet" #dateDebutProjet="ngModel" matInput [(ngModel)]="projetService.projet.dateDebutProjet" class="form-control"
                                            type="date" required>
                                          <mat-error *ngIf="dateDebutProjet.errors?.required  && dateDebutProjet.touched" > ce champ est obligatoire</mat-error>
                                </mat-form-field>
                                </p>
                                 <p >
                                <mat-form-field class="form-group" >
                                                date fin projet  
                                        <input name="dateFinProjet" matInput #dateFinProjet="ngModel" [(ngModel)]="projetService.projet.dateFinProjet" class="form-control" 
                                         type="date"  required>
                                        <mat-error *ngIf="dateFinProjet.errors?.required  && dateFinProjet.touched" > ce champ est obligatoire</mat-error>
                                    </mat-form-field>
                                </p>
                                    
                            <input name="srcPhoto"  type="hidden"  #srcPhoto="ngModel" [(ngModel)]="projetService.projet.srcPhoto" 
                            class="form-control" >
                           
                
                            <mat-form-field class="form-group">
                                <textarea name="descriptionProjet" #descriptionProjet="ngModel" matInput style="height:80px"
                                [(ngModel)]="projetService.projet.descriptionProjet" class="form-control" placeholder="Description" ></textarea>
                                
                            </mat-form-field>
                

                </mat-dialog-content>
<mat-dialog-actions>
        <button type="submit" style="width:50%" matInput [disabled]="form.invalid"  class="btn btn-lg btn-block btn-info">
                Enregistrer
            </button>
</mat-dialog-actions>
</form>