<div class="container"
     fxLayout="column"
     fxLayoutGap="10px"
>
  <div fxFlex>
    <div>
      <h3>Liste des Projets</h3>
      <hr>
    </div>
  </div>


<form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>
      
<table class="table table-hover">
    <thead>
        <th>Projet</th>
        <th>Description</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Src photo</th>

    </thead>
    <tbody>
        <tr>
                
                        
        </tr>
        <tr *ngFor="let projet of list">
            
            <td (click)="onEdit(projet)"> {{projet.libelleProjet}} </td>
            <td (click)="onEdit(projet)"> {{projet.descriptionProjet}} </td>
            <td (click)="onEdit(projet)"> {{projet.dateDebutProjet}} </td>
            <td (click)="onEdit(projet)"> {{projet.dateFinProjet}} </td>
            <td (click)="onEdit(projet)"> {{projet.srcPhoto}} </td>
            <td ><a class="btn text-danger" (click)="onDelete(projet.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
</table>
</div>