<div class="container"
     fxLayout="column"
     fxLayoutGap="10px"
     fxLayoutAlign="center"
     >

  <div style="padding-left:300px;width:128%" >
    <div>
      <h3>
        Nos Projets
      </h3>
      <hr>
    </div>
  </div>
  <div style="padding-left:300px;width:128%">
  <mat-grid-list cols="2" rowHeight="200px"  >
    <mat-grid-tile *ngFor="let projet of projets" >
      <img height="200px" src={{projet.srcPhoto}} alt={{projet.libelleProjet}}>
    <mat-grid-tile-footer>
      <h1 matLine> {{projet.libelleProjet | uppercase}} </h1>
    </mat-grid-tile-footer>
      
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>
